* a {
    text-decoration: none;
}
.imgTejidos {
    width: 200px;
    height: 200px;
    object-fit: contain;
    margin-top: 1rem;
    }
.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
}
.botonCreado {
    color: white;
    background-color: darkmagenta;
}
.botonCreado:hover {
    background-color: blueviolet;
    color: white
}
.portada {
    height: 60vh;
    background-image: url(./img/portada.jpg);
    background-size: cover;
    background-position: center;
}

.nav-link:hover {
    background-color: darkmagenta;
}
.nav__foot a {
    color: #ffffff;
}

.nav__foot a:hover {
    color: darkmagenta;
}